<ion-header>
  <ion-toolbar>
    <div id="linha_alinhada">
      <div id="ionIcon_div_backHome">
        <ion-icon name="arrow-back-outline" routerLink="/home" id="ionIcon_backHome"></ion-icon>
      </div>
      <div id="ionIcon_div_threeVertcDots">
        <ion-icon name="ellipsis-vertical-outline" (click)="presentActionSheet()" id="ionIcon_threeVertcDots">
        </ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <header>
      <ion-input placeholder="Título" value="{{notas.titulo}}" id="titulo"></ion-input>
    </header>
    <hr>
    <section id="sectionTexto">
      <ion-textarea 
        type="text" 
        placeholder="Digite alguma coisa" 
        rows="30" 
        value="{{notas.texto}}" 
        id="texto">
      </ion-textarea>
    </section>
  </div>
</ion-content>